<form [formGroup]="formSignUp" (ngSubmit)="signUp();">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" formControlName="email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Name</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="name" formControlName="name">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity" formControlName="city">
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip" formControlName="zip">
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="formSignUp.invalid">Sign in</button>
</form>
<pre>{{ formSignUp.value | json }}</pre>
<pre>{{ formSignUp.valid | json }}</pre>
